* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary: #ffa700;
    --black: #2b2b2b;
    --gray: #808080;
    --white: #ffffff;
}

.container { 
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media (min-width: 768px){
    .container {
        width: 100%;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

/*HEADER CSS*/

.header {
    background-color: var(--black);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}

.header__logo span {
    color: var(--primary)
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: var(--gray);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--primary);   
}

.activecolor {
    color:var(--primary)
}

.toggle__menu {
    cursor: pointer;
    display: none;
}

.toggle__menu span{
    background-color: var(--primary);
    display: block;
    height: 0.2rem;
    width: 2rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    transition: 0.5s ease-in;
}

@media (max-width: 768px){
    .toggle__menu {
        display: block;
    }
    nav.open ul {
        right: 0;
        transition: 0.5s ease-in;
    }
    nav ul{
        display: block;
        position: absolute;
        right: -100%;
        top: 6.5rem;
        width: 100%;
        height: 100vh;
        background-color: white;
        text-align: center;
        transition: 0.5s ease-in;
    }
    nav ul li a {
        display: block;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid black;
    }
    nav ul li:hover {
        background-color: var(--primary);
    }
    nav ul li:hover a{
        color: var(--white);
    }
    .toggle__menu.open span:nth-child(1){
        transition: 0.5s ease;
        transform: translate(-2px, 7.3px) rotate(45deg);
    }
    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: 0s;
    }
    .toggle__menu.open span:nth-child(3){
        transition: 0.5s ease;
        transform: translate(-2px, -12px) rotate(-45deg);
    }
    
}


/*HEADER CSS Ends here*/

.banner {
    padding: 6rem 0;
}

.banner__wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
}
@media (max-width: 998px){
    .banner__wrapper {
        flex-direction: column;
    }
    .banner img {
        width: 100% !important;
    }
}

.banner img {
    width: 40rem;
}

.banner__content h1 {
    color: var(--primary);
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: 1;
}

.banner__content a {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}

.banner__content p {
    margin: 2rem 0;
    text-align: justify;
}

/*Banner CSS Ends here*/
.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
@media (max-width: 768px){
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}

.services {
    background-color: var(--black);
    color: var(--white);
    padding: 6rem 0;
}

.services__type {
    text-align: center;
}

.services__type p {
    text-align: justify;
}

.services__type h3 {
    color: var(--primary);
}

.services__type a {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}

.services img, .services h3, .services p {
    margin-bottom: 2rem;
}

/*Services CSS Ends here*/

.aboutme {
    padding: 6rem 0;
}

.aboutme__wrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.aboutme h3 {
    margin-bottom: 3rem;
    color: var(--primary);
}

.aboutme p {
    text-align: justify;
    margin-bottom: 2rem;
}

@media (max-width: 768px){
    .aboutme__wrapper {
        flex-direction: column;
    }
    .aboutme img {
        width: 100% !important;
    }
}

/*About CSS Ends here*/

.trends {
    background-color: var(--black);
    padding: 6rem 0;
    color: var(--primary);
}

.cards {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}



.trends p {
    color: var(--white);
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px){
    .cards {
        display: block;
        max-width: 363px;
        margin: auto;
    }
}

.cardbox {
    border-radius: 20px;
    background-color: var(--white);
}


.cardbox p {
    color: var(--black);
}

.cardbox p.yellow {
    color: var(--primary);
}

.cardbox a {
    color: var(--primary);
    text-decoration: none;
}

.cardbox img {
    width: 100%;
}

.cardbox p,h4 {
    padding-left: 20px;
    padding-top: 10px;
}

.cardbox p {
    margin-bottom: 2rem;
}


@media (max-width: 768px){
    .cardbox {
        border-radius: 25px;
    }
    .cardbox p{
        padding-bottom: 15px;
    }
}
/*Trends CSS Ends here*/

.contact {
    background-color: var(--primary);
    padding: 4rem 0;
}

.contact__wrapper {
    text-align: center;
}

.contact__wrapper a {
    margin-top: 30px;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    padding: 0.8rem 2rem;
    display: inline-block;
    border-radius: 3rem;
    text-transform: uppercase;
}

/*Contact CSS Ends here*/

.footer {
    background-color: var(--black);
    color: var(--gray);
    padding: 3rem 0;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
}

.footer ul li a i {
    font-size: 1.5rem;
    color: var(--gray);
}



.footer ul li a {
    display: inline-block;   
}


.socialLinks {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 768px){
    .socialLinks {
        display: inline;
    }
    .socialLinks ul{
        justify-content: center;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px){
    .footer__wrapper {
        display: inline;
        text-align: center;
    }
}

/*ABOUT ME - Banner CSS starts here*/

.banner-about {
    padding: 6rem 0 3rem 0;
}

.banner__wrapper-about {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.banner-about img {
    width: 40rem;
}

.banner__content-about h1 {
    color: var(--primary);
    font-size: 5rem;
    line-height: 1;
}

.banner__content-about a {
    
    color: var(--primary);
    
}

.banner__content-about p {
    margin: 2rem 0;
    text-align: justify;
}

.banner__content-about p.nomargin {
    margin: 0 0;
}

.banner__link ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

@media (max-width: 768px){
    .banner__wrapper-about {
        flex-direction: column;
    }
    .banner-about img {
        width: 100% !important;
    }
}

.makeItCenter {
    text-align: center;
}

.makeItCenter i {
    color: var(--primary);
}

/*ABOUT ME - Banner CSS ends here*/

.trends-about {
    background-color: var(--black);
    padding: 6rem 0;
    color: var(--primary);
}

.cards-about {
    display: flex;
    gap: 1rem;
}

.trends-about p {
    color: var(--white);
    padding-top: 0.5rem;
    margin-bottom: 5rem;
}

.trends-about h1 {
    font-size: 2.5rem;
}

.cardbox-about {
    border-radius: 20px;
    background-color: var(--white);
    margin-bottom: 20px;
}

.cardbox-about p {
    color: var(--black);
    padding-bottom: 30px;
}

.cardbox-about p.yellow {
    color: var(--primary);
}

.cardbox-about img {
    width: 100%;
}

.cardbox-about p,h4 {
    padding-left: 20px;
    padding-top: 10px;
}

.cardbox-about p {
    margin-bottom: 2rem;
}

@media (max-width: 768px){
    .cards-about {
        display: block;
        max-width: 363px;
        margin: auto;
    }
}

/*SERVICES Banner 1*/

.banner-services {
    padding: 6rem 0 3rem 0;
}

.banner__wrapper-services {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.banner-services img {
    width: 40rem;
}

.banner__content-services h1 {
    color: var(--primary);
    font-size: 3rem;
    line-height: 1;
}

.banner__content-services h3 {
    color: var(--primary);
    font-size: 1.8rem;
}

.banner__content-services a {
    
    color: var(--primary);
    
}

.banner__content-services p {
    margin: 2rem 0;
    text-align: justify;
}

.nomargin small {
    font-size: 10px;
}

.banner__content-services p.nomargin {
    margin: 0 0;
}

.bgblack {
    background-color: var(--black);
}

p.twhite {
    color: var(--white);
}

@media (max-width: 768px){
    .banner__wrapper-services {
        flex-direction: column;
    }
    .banner-services img {
        width: 100% !important;
    }
}

/*updates*/

.updates__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 6rem 0;
}

.updates-latest-trends__content h1 {
    color: var(--primary);
    font-size: 3.5rem;
}

.updates-latest-trends__content h2 {
    color: var(--primary);
    font-size: 2rem;
    margin-top: 2rem;
}

.updates-latest-trends__content p {
    max-width: 719px;
}

.updates-latest-trends__content img {
    margin-top: 3rem;
}

.updates-latest-trends__content ul {
    padding-top: 10px;
    display: flex;
    font-size: 7px;
    gap: 50px;
    list-style: none;
}

.updates-latest-trends__content a {
    text-decoration: none;
    color: var(--primary);
    padding-bottom: 30px;
}

.updates-latest-trends__content p {
    margin-bottom: 2rem;
    text-align: justify;
}

.hrmargin {
    margin-top: 45px;
}

.hrmargin2 {
    margin-top: 120px;
}

.categories {
    margin-top: 11.2rem;
}

.categories h2 {
    color: var(--primary);
    margin-bottom: 3rem;
}

.categories-list h5 {
    color: var(--black);
    font-size: 1rem;
    font-weight: normal;
    margin: 5px 0;
}

.categories-list {
    justify-content: space-between;
    display: flex;
}

.recent-post {
    margin-top: 50px;
}

.recent-post h2 {
    color: var(--primary);
    margin-bottom: 3rem;
}

.post-list {
    display: flex;
    padding-left: 10px;
    padding-top: 30px;
}

.post-list h5 {
    text-align: justify;
    margin-left: 10px;
}

.post-list p {
    margin-left: 10px;
    margin-top: 15px;
}

.tags {
    margin-top: 95px;
}

.tags h2 {
    color: var(--primary);
    margin-bottom: 25px;
}

.buttons {
    margin-top: 15px;
}

.tagsbutton{
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid var(--black);
    border-radius: 30px;
    margin-left: 10px;
}

.tagsbutton a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.tagsbutton .diffcolor {
    color: var(--white);
}

@media (max-width: 768px) {
    .updates__wrapper {
        grid-template-columns: 1fr;
    }
    .updates-latest-trends__content img {
        width: 100%;
    }
    .updates-latest-trends__content ul {
        display: block;
    }
}

/*aaaaaaaaaaaaaaaaaaaaa*/

.contactpage {
    padding: 6rem 0;
    background-color: var(--black);
    border-top: 2px solid black;
    border-bottom: 1px solid white;
}

.contact__wrapperpage {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.linkflex {
    margin-top: 2.5rem;
}

.linkflex ul {
    display: flex;
}

.contact__content {
    color: white;
}

.contact__content h1{
    color: var(--primary);
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.contact__content ul {
    margin-top: 30px;
}

.contact__content ul li{
    list-style: none;
    margin-bottom: 15px;
}

.contact__content ul li i {
    margin-right: 30px;
    color: var(--primary);
}

.contact__content .linkflex ul li i {
    margin-right: 30px;
    color: var(--white);
}

.contact__form input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.contact__form textarea {
    width: 450px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact__form button {
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 3rem;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 330px;
}

@media (max-width: 768px) {
    .contact__wrapperpage {
        display: block;
    }
    .contact__form {
        margin-top: 3rem;
    }
}

.addmar {
    margin-bottom: 5rem;
}